#intro {
	background: #151515 url(../images/intro-bg.jpg) no-repeat center bottom;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
	height: 100%;
	min-height: 720px;
	display: table;
	position: relative;
	text-align: center;
}
.intro-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #111111;
	opacity: .85;
}

.intro-content {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	-webkit-transform: translateY(-2.1rem);
	-ms-transform: translateY(-2.1rem);
	transform: translateY(-2.1rem);
}
.intro-content h1 {
	color: #FFFFFF;
	font-family: "poppins-medium", sans-serif;
	font-size: 5rem;
	line-height: 1.071;
	max-width: 900px;
	margin-top: 0;
	margin-bottom: .6rem;
	margin-left: auto;
	margin-right: auto;
	text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.intro-content h5 {
	color: #9c00d5;
	font-family: "poppins-bold", sans-serif;
	font-size: 2.3rem;
	line-height: 1.565;
	margin-bottom: 0;
	text-transform: uppercase;
	letter-spacing: .3rem;
	text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}
.intro-content .intro-position {
	font-family: "lora-regular", serif;
	font-size: 1.7rem;
	line-height: 2.4rem;
	text-transform: uppercase;
	letter-spacing: .2rem;
	color: #FFFFFF;
	text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}
.intro-content .intro-position span {
	display: inline-block;
}
.intro-content .intro-position span::after {
	content: "|";
	text-align: center;
	display: inline-block;
	padding: 0 8px 0 14px;
	color: rgba(255, 255, 255, 0.3);
}
.intro-content .intro-position span:first-child::before {
	content: "|";
	text-align: center;
	display: inline-block;
	padding: 0 14px 0 8px;
	color: rgba(255, 255, 255, 0.3);
}
.intro-content .button {
	color: #FFFFFF !important;
	border-color: rgba(255, 255, 255, 0.3);
	height: 6rem !important;
	line-height: 5.4rem !important;
	padding: 0 3.5rem 0 3rem !important;
	margin-top: .6rem;
	font-size: 1.3rem;
	text-transform: uppercase;
	letter-spacing: .25rem;
}
.intro-content .button:hover, .intro-content .button:focus {
	border-color: #cc005f;
}
.intro-content .button::after {
	display: inline-block;
	content: "\f107";
	font-family: fontAwesome;
	font-size: 1.6rem;
	line-height: inherit;
	text-align: center;
	position: relative;
	left: 1.2rem;
}

.intro-social {
	display: block;
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 7.2rem;
	font-size: 3.3rem;
	margin: 0;
	padding: 0;
}
.intro-social li {
	display: inline-block;
	margin: 0 20px;
	padding: 0;
}
.intro-social li a, .intro-social li a:visited {
	color: #FFFFFF;
}
.intro-social li a:hover, .intro-social li a:focus {
	color: #cc005f;
}

.custom-bg {
    background-color: #0d0d0d; /* Replace with your desired color */
    color: #e0e0e0; /* Optional: Set text color for better contrast */
    accent-color: #00ff00;
}

.custom-bg2 {
    background-color: #1c1c1c; /* Dark Purple */
    color: #ffffff; /* White */
    accent-color: #ff4081;
}

.lato-regular{
	font-family: "Lato", serif;
	font-style: normal;
	color: #aecab0f5;
	accent-color: #b58383;
}
.img-fluid {
    max-width: 100%;
    height: auto;
	object-fit: cover;
	max-height: 300px;
}
@media (max-width: 576px) {
    .img-fluid {
        max-height: 150px; /* Smaller height for extra small screens */
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    .img-fluid {
        max-height: 200px; /* Medium height for small screens */
    }
}

@media (min-width: 769px) {
    .img-fluid {
        max-height: 300px; /* Larger height for medium and larger screens */
    }
}


.img-fixed-height {
    width: 100%;
    height: 200px; /* Set the desired fixed height */
    object-fit: cover; /* Ensure the image covers the area without stretching */
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Align items to the start */
    height: 100%; /* Ensure the card body takes up the full height */
}

.card-text {
    margin-top: 1rem; /* Push the text to the bottom */
}
h1.about-heading, h1.projects-heading {
    font-family: 'Roboto', sans-serif;
	font-weight: 700;
}
.navbar-nav .nav-link {
    padding: 0.5rem 1rem; /* Adjust padding as needed */
    margin: 0; /* Ensure no extra margin */
    position: relative; /* Ensure proper positioning */
    z-index: 1; /* Ensure the link is on top */
}

.navbar {
    z-index: 1000; /* Ensure the navbar is on top of other elements */
}