<footer class="container-flex bg-dark text-white my-5 py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 d-flex flex-column justify-content-center">
                <h5>Contact Me</h5>
                <ul class="list-unstyled">
                    <li>Email: <a href="mailto:your-email@example.com" class="text-white">your-email@example.com</a></li>
                    <li>Phone: <a href="tel:+1234567890" class="text-white">+1 234 567 890</a></li>
                </ul>
            </div>
            <div class="col-md-6 d-flex flex-column align-items-end justify-content-center">
                <h5>Follow Me</h5>
                <ul class="list-unstyled">
                    <li><a href="https://twitter.com/yourprofile" class="text-white">Twitter</a></li>
                    <li><a href="https://linkedin.com/in/yourprofile" class="text-white">LinkedIn</a></li>
                    <li><a href="https://github.com/yourprofile" class="text-white">GitHub</a></li>
                </ul>
            </div>
        </div>
        <div class="row mt-3">
        </div>
    </div>
</footer>