<header class="container-flex"> <!-- /header -->

<section id="intro">   

   <div class="intro-overlay" id="top"></div>	

        <div class="intro-content">
            <div class="row">

                <div class="col-twelve">

               <h5>Welcome to My Portfolio</h5>
               <h1>I'm Pankaj Sharma</h1>

               <p class="intro-position">
                   <span>BACK-END Developer</span>
               </p>

               <a class="btn btn-dark" href="#about" title="">More About Me</a>

           </div>  
           
        </div>   		 		
        </div> <!-- /intro-content --> 
    
   

</section> <!-- /intro -->
    
</header>
